@model BUSINESS1.Models.EMPLEADOS

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>EMPLEADOS</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NomEmpleado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomEmpleado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Activo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Activo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DEPARTAMENTOS.NomDepartamento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DEPARTAMENTOS.NomDepartamento)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdEmpleado }, new { @class = "btn btn-success" }) |
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })
</p>
