@model IEnumerable<BUSINESS1.Models.EMPLEADOS>

@{
    ViewBag.Title = "Index";
}

<h2>EMPLEADOS</h2>

<p>
    @Html.ActionLink("AÑADIR EMPLEADO", "Create", "", new { @class = "btn btn-success" })
</p>

<br />
<p><strong>Buscar Empleado</strong></p>
<input class="form-control" id="myInput" type="text" placeholder="Nombre..">

<br />

<table class="table" id="myTable">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NomEmpleado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Activo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DEPARTAMENTOS.NomDepartamento)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomEmpleado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Activo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DEPARTAMENTOS.NomDepartamento)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.IdEmpleado }, new { @class = "btn btn-primary" })
                @Html.ActionLink("Details", "Details", new { id = item.IdEmpleado }, new { @class = "btn btn-success" })
                @Html.ActionLink("Delete", "Delete", new { id = item.IdEmpleado }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
    $(document).ready(function () {
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
    </script>
}